@font-face {
    font-family: 'Inter Variable Font';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


/* default styles */
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);--grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}


* {
    box-sizing: border-box;
    margin: 0;
}


body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    line-height: 1.5;
    font-family: 'Inter Variable Font', sans-serif;
}


img {
    max-width: 100%;
}


h1 {
    color: var(--very-dark-blue);
}


div.wrapper {
    position: relative;
    padding: 1em;
    max-width: 600px;
    display: grid;
    gap: 24px;
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
}


.logo {
    height: 1.8em;
}


.hamburger_icon {
    z-index: 2;
    width: 30px;
    height: 50px;
    cursor: pointer;
    background: url(./assets/images/icon-menu.svg) no-repeat center;
}


.close {
    background: url(./assets/images/icon-menu-close.svg) no-repeat center;
}


.left_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width .5s ease-in-out;
}

.show_layer {
    width: 35%;
}


nav {
    padding-block-start: 8em;
    background-color: var(--off-white);
    height: 100%;
    width: 0;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    transition: width .5s ease-in-out;
}


nav > ul {
    list-style: none;
    
}

nav > ul > li {
    margin-block-end: 1em;
    margin-inline-start: -1em;
}


nav > ul > li > a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    transition: color 0.2s ease;
}


nav > ul > li > a:hover {
    color: var(--soft-red);
}


.show_nav {
    width: 65%;
}


main {
    position: relative;
}


.top > .heading_text > a {
    text-decoration: none;
    background-color: var(--soft-red);
    color: var(--off-white);
    padding: .8em 1.5em;
    letter-spacing: 1.5px;
    font-size: .7rem;
    display: inline-block;
    margin-block-start: 1.5em;
    width: 12em;
    text-align: center;
    transition: background-color 0.3s ease-in;
}


.top > .heading_text > a:hover {
    background-color: var(--very-dark-blue);
}


.top > .heading_text > p {
    color: var(--dark-grayish-blue);
    font-size: .9em;
}


.center {
    margin-block-start: 3em;
    display: grid;
    gap: 15px;
    background-color: var(--very-dark-blue);
    padding: 1em 1em;
}


.center > h2 {
    color: var(--soft-orange);
}


.center > div {
    border-bottom: 1px solid;
    padding-block-end: 1.2em;
    color: var(--off-white);
}


.center > div > h3:hover {
    color: var(--soft-orange);
    cursor: pointer;
}


.center > div:nth-child(4) {
    border: none;
}


.center > div > small {
    color: var(--grayish-blue);
}


.bottom {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 2em;
    gap: 25px;
}


.bottom > div {
    display: flex;
    flex: 0 1 auto;
    gap: 17px;
}

.bottom > div > img {
    width: 100px
}


.bottom > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bottom > div > div > b {
    color: var(--grayish-blue);
    font-size: 1.7rem;
    margin-top: -3px;
}


.bottom > div > div > h4 {
    color: var(--very-dark-blue);
    transition: color 0.2s ease-in;
    cursor: pointer;
}


.bottom > div > div > h4:hover {
    color: var(--soft-red);
}


.bottom > div > div > small {
    color: var(--grayish-blue);
}


@media (min-width: 1000px) {
    div.wrapper {
        padding: 1em 2em;
        padding-block-end: 3em;
        margin: 2px 0;
        width: 100%;
        max-width: 1150px;
        display: grid;
        gap: 24px;
    }

    .hamburger_icon {
        display: none;
    }

    .left_layer {
        display: none;
    }


    nav {
        width: fit-content;
        position: relative;
        background: none;
        padding: 0;
        display: flex;
        height: fit-content;
        padding-block-start: 2em;
    }


    nav ul {
        display: flex;
        gap: 3em;
        justify-content: flex-end;
    }


    main {
        display: grid;
        grid-template: auto 1fr / auto;
        grid-template-areas:
        "web web new"
        "footer footer footer";
    }

    .top {
        grid-area: web;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "image image"
        "heading text";
    }

    .hero_image {
        grid-area: image;
    }


    .heading {
        width: 6em;
        font-size: 2.5rem;
        line-height: 1.2em;
    }


    .heading_text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .center {
        grid-area: new;
        margin-block-start: 0;
        padding-block-end: 0;
        margin-inline-start: 1em;
    }

    .bottom {
        grid-area: footer;
        flex-wrap: nowrap;
    }

    .bottom > div > div > small {
        width: 15em;
    }
}